@import './variables';
@import './mixins';

.new-trip-form {
  @include flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 250px;
  width: 60%;
  max-width: 400px;
  background-color: white;
  padding: 10px;

    h2{
      margin: 0px 10px;
      font-size: 12px;
    }

    div {
      @include flex-row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
}

.user-info {
  max-height: 200px;
  max-width: 100%;
}

.destination-input {
  height: 30px;
  width: 200px;
}

.input-box {
  @include flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 2px;

    input {
      height: 30px;
      margin: 0px 5px;
      text-indent: 5px;
    }
}

.new-trip-btn {
  width: 120px;
  height: 35px;
  background-color: $red;
  color: white;
  border: none;
  margin: 0px 20px;
}


.form-background {
  @include flex-row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-position-x: center;
  background-position-y: center;

  .advertisment {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 250px;
    width: 350px;
    color:white;
    margin-left: 150px;
    padding: 20px;

    .ad-wander, .ad-price, .ad-destination, .per-night {
      margin: 0px;
      color: white;
      font-family: 'Nanum Myeongjo', serif;
    }

    .ad-destination {
      font-size: 78px;
    }
    .ad-wander {
      font-size: 42px;
      margin-left: 20px;
    }

    .ad-price {
      font-size: 36px;
    }

    .per-night {
      font-size: 19px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.input-error-display {
  font-size: 16px;
  color: $red;
  margin: 3px 0px 5px 15px;
  padding: 0;
}