@import './variables';
@import './mixins';

.trip-card {
  @include flex-column;
  justify-content: flex-start;
  background-color: white;
  color: black;
  width: 250px;
  height: 300px;
  border-radius: 30px;
  margin-top: 30px;
  padding: 0px;

    img{
      border-radius: 20px;
      width: 100%;
      height: 60%;
    }

    h3, p, time, h4 {
      margin: 2px 0px;
      width: 85%;
    }
    
    .approved {
      background-color: green;
      color: white;
      width: 75px;
    }
}

.pending {
  background-color: orange;
  color: white;
  width: 70px;
}