// Imports
@import './variables';
@import './mixins';
@import './trip';
@import './header';
@import './form';
@import './modal';
@import './agent-mode';
@import './requests';
@import './trip-details';

* {
  border: solid 1px rgb(0, 255, 0);
  font-family: 'Amatic SC', cursive;
  font-family: 'Open Sans', sans-serif;

  &:focus {
    border: solid 1px #085da8
  }
}

html, body {
  @include flex-column;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

main {
  @include flex-column;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  color: white;
}

.card-container {
  @include flex-row;
  justify-content: space-around;
  width: 60%;
  height: 700px;
  color: white;
  overflow: visible;
  flex-wrap: wrap;
  width: 60%;
  max-height: 300px;
}

h1 {
  margin: 0px;
}

h2 {
  color: black;
  margin-bottom: 10px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}

[hidden] {
  display: none;
}


