@import './variables';
@import './mixins';
@import './trip';
@import './event';
@import './header';
@import './form';
@import '~js-datepicker/src/datepicker';

// wide ranging 

* {
  // border: solid 1px rgb(0, 255, 0);
  font-family: 'Amatic SC', cursive;
  font-family: 'Open Sans', sans-serif;

  &:focus {
    border: solid 1px #085da8
  }
}

html, body {
  @include flex-column;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
}

button:hover {
  cursor: pointer;
}

main{
  width: 100%;
  height: 300px;
  @include flex-column;
  justify-content: center;
  // background-image: linear-gradient(to bottom,
  //   #0d74b7 0%,
  //   #439fdf 20%,
  //   #3cb0df 40%,
  //   #65d1e9 50%,
  //   #c3f6f5 70%,
  //   white 100%
  // );
  color: white;
  position: relative;
}

.card-container {
  @include flex-row;
  justify-content: space-around;
  position: absolute;
  width: 60%;
  height: 700px;
  color: white;
  overflow: visible;
  flex-wrap: wrap;
  width: 60%;
  max-height: 300px;
}

.user-info {
  max-width: 60%;
  width: 60%;
}

