.trip-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  color: black;
  padding-top: 5px;
  width: 250px;
  height: 300px;
  border: solid 1px grey;
  border-radius: 30px;
  margin-top: 30px;
}
.trip-card img {
  border-radius: 20px;
  width: 95%;
  height: 60%;
}
.trip-card p {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.trip-card h3, .trip-card p, .trip-card time, .trip-card h5 {
  margin: 1px;
  width: 85%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  height: 100px;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(213, 12, 12);
  width: 60%;
}

.page-title {
  height: 30px;
  margin: 24px;
  padding: 0px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 64px;
  margin-left: 100px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  width: 400px;
  height: 60px;
  color: rgb(213, 12, 12);
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 400px;
  height: 60px;
}

.nav-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.nav-btn {
  width: 100px;
  height: 30px;
  color: rgb(213, 12, 12);
  border-style: none;
  background-color: white;
  font-size: 16px;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 250px;
  width: 60%;
  max-width: 400px;
  background-color: white;
  padding: 10px;
}
.new-trip-form h3 {
  margin: 0px 12px;
  font-size: 12px;
}
.new-trip-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-info {
  max-height: 200px;
  max-width: 100%;
}

.destination-input {
  height: 30px;
  width: 200px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 2px;
}
.input-box input {
  height: 30px;
  margin: 0px 5px;
}

.new-trip-btn {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

span {
  color: rgb(213, 12, 12);
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-position-x: center;
  background-position-y: center;
}

* {
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
}
*:focus {
  border: solid 1px #085da8;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
}

button:hover {
  cursor: pointer;
}

main {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 60%;
  height: 700px;
  color: white;
  overflow: visible;
  flex-wrap: wrap;
  width: 60%;
  max-height: 300px;
}

.user-info {
  max-width: 60%;
  width: 60%;
}/*# sourceMappingURL=styles.css.map */