.trip-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  color: black;
  width: 250px;
  height: 300px;
  border-radius: 30px;
  margin-top: 30px;
  padding: 0px;
}
.trip-card .trip-img {
  border-radius: 20px;
  width: 100%;
  height: 60%;
}
.trip-card h3,
.trip-card p,
.trip-card time,
.trip-card h4 {
  margin: 2px 0px;
}
.trip-card button {
  margin: 5px;
  border: none;
  border: solid 1px rgb(204, 204, 204);
  background-color: white;
}

.approved {
  background-color: green;
  border: none;
  color: white;
  width: 80px;
}

.pending {
  background-color: orange;
  border: none;
  color: white;
  width: 80px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  height: 100px;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: flex-end;
  color: rgb(213, 12, 12);
  width: 100%;
}

.page-title {
  height: 30px;
  margin: 24px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  width: 400px;
  height: 60px;
  color: rgb(213, 12, 12);
}

.nav-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 250px;
}
.nav-btn-box .nav-btn, .nav-btn-box .request-card .request-btn-box button, .request-card .request-btn-box .nav-btn-box button, .nav-btn-box .agent-nav-btn {
  width: 100px;
  height: 30px;
  color: rgb(213, 12, 12);
  border: solid 1px rgb(204, 204, 204);
  background-color: white;
  font-size: 16px;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 250px;
  width: 60%;
  max-width: 400px;
  background-color: white;
  padding: 10px;
}
.new-trip-form h2 {
  margin: 0px 10px;
  font-size: 12px;
}
.new-trip-form div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.user-info {
  max-height: 200px;
  max-width: 100%;
}

.destination-input {
  height: 30px;
  width: 200px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 2px;
}
.input-box input {
  height: 30px;
  margin: 0px 5px;
  text-indent: 5px;
}

.new-trip-btn, .log-in-btn, .log-out-btn {
  width: 120px;
  height: 35px;
  background-color: rgb(213, 12, 12);
  color: white;
  border: none;
  margin: 0px 20px;
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-position-x: center;
  background-position-y: center;
}

.input-error-display {
  font-size: 16px;
  color: rgb(213, 12, 12);
  margin: 3px 0px 5px 15px;
  padding: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  background-color: white;
  min-width: 40%;
  min-height: 60%;
  width: 40%;
  height: 60%;
}

.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.active-overlay {
  opacity: 1;
  pointer-events: all;
}

.account-modal {
  padding-left: 30px;
  padding-right: 10px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
  width: 100%;
}

.close-modal-btn {
  font-size: 30px;
  background-color: white;
  border: none;
}

.log-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 500px;
}
.log-in-content h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(213, 12, 12);
}

.log-in-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 25px, 0px, 10px, 0px;
}
.log-in-input-box h3 {
  margin: 5px;
}
.log-in-input-box input {
  width: 90%;
  height: 30px;
  border: solid 1px rgb(204, 204, 204);
  margin: 0px;
  text-align: center;
}

.log-in-btn, .log-out-btn {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.agent-box, .trip-details-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  height: 1000px;
  border: solid 1px rgb(204, 204, 204);
  color: black;
  padding: 0px 40px;
}

.agent-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.request-view-box {
  margin: 20px;
  width: 100%;
  height: 100%;
}
.request-view-box input {
  width: 90%;
  height: 30px;
  text-indent: 15px;
}

.request-cards-box, .trip-details-view .events-search-box {
  margin-top: 10px;
  width: 700px;
  height: 600px;
  overflow: scroll;
  color: black;
}

.request-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  margin-top: 20px;
  color: black;
}
.request-card img {
  width: 10%;
  height: 100%;
  border-radius: 3%;
}
.request-card div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.request-card p {
  margin: 0px;
  pad: 0px;
  font-size: 13px;
}
.request-card .request-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.request-card .request-btn-box .denied {
  background-color: rgb(213, 12, 12);
  color: white;
}

.trip-details-view {
  padding: 0px;
  justify-content: space-evenly;
}
.trip-details-view .trip-view-header {
  height: 400px;
  width: 800px;
  margin: 20px;
  background-position-x: center;
  background-position-y: center;
}
.trip-details-view .trip-details-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
}
.trip-details-view .trip-details-info li {
  list-style-type: none;
  margin: 5px;
}
.trip-details-view .event-details, .trip-details-view .trip-details {
  width: 40%;
  height: 300px;
}
.trip-details-view .trip-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}
.trip-details-view .event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 400px;
  background-color: rgb(207, 207, 207);
  color: grey;
}

* {
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
}
*:focus {
  border: solid 1px #085da8;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 700px;
  color: white;
  overflow: visible;
  flex-wrap: wrap;
  width: 60%;
  max-height: 300px;
}

h1 {
  margin: 0px;
}

h2 {
  color: black;
  margin-bottom: 10px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
}

span {
  color: rgb(213, 12, 12);
}

button:hover {
  cursor: pointer;
}

[hidden] {
  display: none;
}/*# sourceMappingURL=styles.css.map */